/* website font responsive media screen */
@media screen and (max-width:1024px){
    html{font-size: 55%;}
    .specialist-content{width: 100%;}
    .row{flex-direction: column;}
}

/* tablet screen */
/* navabar responsive */
@media screen and (max-width:768px) {
    .content{width:100%;}
    .nav-content>ul{display: none;}
    .search-bar{display: none;}
    .bars{margin-top: 5%;margin-left: 50%;}
    .logo>img{width: 52%;}
    .content>h2{font-size: 50px;}
    .content>h3{font-size: 35px;}
    .bars{margin-left: 85%;}
    
    
}

@media screen and (max-width:600px) {
    .content>h3{font-size: 25px;}
    .shape,.shape-2{display: none;}
}


/* about section css */
@media screen and (max-width:992px) {
    .aboutUs{display: grid;grid-template-columns: repeat(1,1fr);}
    .about-img>img{height: 80%;margin-left: 10%;}
}
@media screen and (max-width:620px) {
    .about-img>img{ height: 70%;  margin-left: -8%;}
}

/* our section media screen */

@media screen and (max-width:400px) {
    .main-specialist{margin-top: 20%;}
    .about-img{display: none;}.about-conte>p{font-size: 17px;}
}
/* our services media screen */
@media screen and (max-width:655px) {
    .service-heading{font-size: 20px;}.our-services{margin-top: 7%;}
}

/* enjoy-pasta media screen */
@media screen and (max-width:1024px){
    .pasta-contain{left: 20%;}
    .pasta-contain>h2{font-size: 30px;}
    .pasta-contain>h2>span{font-size: 40px;}
    .pasta-contain>p{font-size: 20px;}
    .pasta-shap{display: none;}
}
@media screen and (max-width:768px) {
   .pasta-contain>p{font-size: 15px;}
}

/* footer responsive media query */
/* Responsive Styles */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo, .footer-links {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-links {
        max-width: 100%;
    }

    .footer-column {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .footer-column h4 {
        font-size: 14px;
    }

    .footer-column ul li a {
        font-size: 12px;
    }
    .specialist-content>h2{font-size: 40px;}.specialist-content>p{font-size: 17px;}
}
